:root {
    --primary-color:"007bff";
    --background-dark:"1a1a1a";
    --text-light:"f0f0f0";
    --card-background:"282828";
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-dark);
    color: var(--text-light);
    scroll-behavior: smooth;
}

header {
    background: var(--background-dark);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid var(--primary-color);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: var(--text-light);
    text-decoration: none;
    margin-left: 30px;
}

/*---Section Styling--*/
section{
    padding: 80 px 20 px;
    max-width: 1200 px;
    margin: 0 auto;
    text-align: left;
}

h3 {
    color:var(--primary-color);
    margin-bottom: 40px;
}

/*--- Hero Section & Button ----*/
#hero {
    padding-top: 150px;
    padding-bottom: 150px;
}

.button {
    display: inline-block;
    background: var(--primary-color);
    color: var(--text-light);
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.button:hover {
    background: #0056b3;
}

/* --- Projects Card (using Flexbox) ---*/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project-card {
    background: var(--card-background);
    padding: 25px;
    border-radius: 8 px;
    flex: 1 1 400px;
    text-align: left;
    border-left: 5 px solid var(--primary-color);
}